*.deb
*.pdb
*.log
*.make
*.cbp
*.depend
*.layout
*.workspace
*.sublime-workspace
*.mk
*.project
*.session
*.tags
*.suo
*.vcxproj*
*.pro.user
*.userprefs
*~

/*.txt
Makefile

bin/
lib/
obj/
build/
.directory
.build-*/
.vs/

psinc.workspace.*
compilation.db
*.AppImage
*.stash
